
<strong>Creature</strong>: <br>
<table width="100%">
  <tr>
    <th>ID</th>
	<th> Name </th>
	
  </tr>
    <tr>
     <td><%= @creature.id %></td>
     <td><%= @creature.name %></td>
    </tr>
<tr>
</tr>

 </table>
